<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RoleSelectionServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.RoleSelectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDataOwnerDb</servlet-name>
        <servlet-class>RoleSelectionServlet.RegisterDataOwnerDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDataUserdb</servlet-name>
        <servlet-class>RoleSelectionServlet.RegisterDataUserdb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDataOwner</servlet-name>
        <servlet-class>RoleSelectionServlet.LoginDataOwner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDataUser</servlet-name>
        <servlet-class>RoleSelectionServlet.LoginDataUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cloudProviderLogin</servlet-name>
        <servlet-class>RoleSelectionServlet.cloudProviderLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileRequestServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.FileRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptFileRequestServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.AcceptFileRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFileServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.uploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizeUploadServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.FinalizeUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDownloadInformation</servlet-name>
        <servlet-class>RoleSelectionServlet.UserDownloadInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadFileServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.downloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptDownloadServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.AcceptDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDownloadServlet</servlet-name>
        <servlet-class>RoleSelectionServlet.FetchDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleSelectionServlet</servlet-name>
        <url-pattern>/RoleSelectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDataOwnerDb</servlet-name>
        <url-pattern>/RegisterDataOwnerDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDataUserdb</servlet-name>
        <url-pattern>/RegisterDataUserdb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDataOwner</servlet-name>
        <url-pattern>/LoginDataOwner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDataUser</servlet-name>
        <url-pattern>/LoginDataUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cloudProviderLogin</servlet-name>
        <url-pattern>/cloudProviderLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileRequestServlet</servlet-name>
        <url-pattern>/FileRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptFileRequestServlet</servlet-name>
        <url-pattern>/AcceptFileRequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFileServlet</servlet-name>
        <url-pattern>/uploadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizeUploadServlet</servlet-name>
        <url-pattern>/FinalizeUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDownloadInformation</servlet-name>
        <url-pattern>/UserDownloadInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadFileServlet</servlet-name>
        <url-pattern>/downloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptDownloadServlet</servlet-name>
        <url-pattern>/AcceptDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDownloadServlet</servlet-name>
        <url-pattern>/FetchDownloadServlet</url-pattern>
    </servlet-mapping>
</web-app>
